/*SIZE img*/
header{
    position: sticky;
    top:0;
    z-index: 100;
    background-color: white;
    
}
.size_img{
    height: 64px;
    width: 64px;

}
.btn {
    padding: 12px 24px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.2s ease-in-out;
}

.btn:hover {
    background-color: #0056b3;
}


.bt {
    padding: 12px 24px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.2s ease-in-out;
}

.bt:hover {
    background-color: #0056b3;
}





