{% extends 'base.html' %}


{% block title %}
    Add
{% endblock %}
    

{% block body %}



<form method="post" class="form-control">
    <input type="text" name="name" placeholder="Enter you name" class="form-control"><br>
    <input type="text" name="surname" placeholder="Enter you surname" class="form-control"><br>
    <input type="text" name="age" placeholder="Enter you age" class="form-control"><br>
    <input type="text" name="phone" placeholder="Enter you phone number" class="form-control"><br>
    <input type="text" name="day" placeholder="day" class="form-control"><br>
    <input type="text" name="time" placeholder="time" class="form-control"><br>


    
    <button class="btn" type="submit">Save</button>
</form>
{% endblock %}