{% extends 'base.html' %}


{% block title %}
    Home page
{% endblock %}
    
{% block body %}
<h3>Home page</h3>
<li>Lorem ipsum dolor sit amet.</li>
<li>Enim sint iste quas harum.</li>
<li>Debitis officia saepe quibusdam tenetur?</li>
<li>Itaque temporibus adipisci minima odit.</li>
<li>Enim animi exercitationem itaque corrupti!</li>
<li>Nesciunt iusto sequi eveniet vero.</li>
<li>Ab eligendi ullam consequuntur dolor!</li>
<li>Iusto, sequi. Aliquid, optio illum.</li>
<li>Rerum tempore nesciunt quidem? Nam.</li>
<li>Nemo in numquam quis natus.</li>
<li>Beatae fugit unde voluptate molestias.</li>
<li>Nobis optio repellat corporis in?</li>
<li>Ipsa esse suscipit architecto inventore.</li>
<li>Quia cupiditate eaque aliquam unde?</li>
<li>Officia ut quas pariatur odit?</li>
<li>Earum doloribus veritatis dolorem est.</li>
<li>Aliquid reiciendis reprehenderit aut placeat?</li>
<li>Nostrum consequatur tempore voluptatum perferendis!</li>
<li>Sit ipsa fugit eligendi voluptas.</li>
<li>Ab nisi minima porro quae.</li>
<li>Pariatur aut tempora nesciunt eius!</li>
<li>Eaque atque commodi culpa ducimus.</li>
<li>Soluta quam laboriosam omnis sunt?</li>
<li>Qui eveniet minima cum adipisci.</li>
<li>Qui itaque ex perferendis non.</li>
<li>Eos enim assumenda laudantium ipsum.</li>
<li>Neque adipisci numquam sed cumque.</li>
<li>Repellendus, labore. Atque, repudiandae expedita!</li>
<li>Eius corporis ex numquam iure?</li>
<li>Obcaecati atque nobis quasi excepturi.</li>
<li>Necessitatibus, quidem. Consequatur, quidem eligendi!</li>
<li>Praesentium necessitatibus voluptatibus inventore temporibus.</li>
<li>Maiores dolorum quis tenetur vero.</li>
<li>Earum numquam reiciendis velit modi.</li>
<li>Vitae ipsam hic recusandae veritatis!</li>
<li>Dolorum a voluptates similique quasi?</li>
<li>Ex aspernatur corrupti accusantium velit!</li>
<li>Maxime quibusdam similique ducimus esse.</li>
<li>Natus eos enim aut quam.</li>
<li>Iste non omnis amet quia.</li>
<li>Aut eaque suscipit aspernatur nulla.</li>
<li>Voluptatibus assumenda incidunt dolor rerum?</li>
<li>Numquam nulla temporibus saepe assumenda!</li>
<li>Alias iusto perspiciatis fugit non.</li>
<li>Enim quae explicabo quo sint.</li>
<li>Voluptatibus harum quibusdam maiores modi!</li>
<li>Rem eligendi exercitationem natus perspiciatis!</li>
<li>Ipsa architecto incidunt nemo aspernatur.</li>
<li>Quibusdam suscipit distinctio accusamus quisquam!</li>
<li>Debitis accusamus sapiente recusandae non.</li>
<li>Maiores voluptatem iusto aspernatur nemo?</li>
<li>Deserunt, voluptatem saepe. Repellendus, eius?</li>
<li>Ipsa soluta temporibus culpa aliquam!</li>
<li>Repellat nesciunt dolor odit voluptate!</li>
<li>Suscipit est quae facere. Dicta.</li>
<li>Cupiditate eos reprehenderit impedit aut.</li>
<li>Labore saepe sed ipsum nostrum.</li>
<li>Iure aspernatur modi beatae tempora!</li>
<li>Aliquam asperiores modi laborum quasi?</li>
<li>Commodi sed impedit eligendi natus?</li>
<li>Quam cum architecto exercitationem praesentium!</li>
<li>Ab tempora cum iste non.</li>
<li>Debitis, porro. Vero, et adipisci!</li>
<li>Cupiditate voluptas iusto quaerat culpa?</li>
<li>Voluptatem sint dignissimos ad nemo.</li>
<li>Inventore iste consequuntur possimus ex!</li>
<li>Sit error veritatis praesentium cumque!</li>
<li>Distinctio magni accusamus esse eligendi.</li>
<li>Perspiciatis, dolorem magnam. Impedit, esse!</li>
<li>Cum ab maxime repellendus iusto?</li>
{% endblock  %}